
name: Deploy to EKS scalingo app

on:
  push:
    branches:
      - 'main'
      - 'test'

env:
  ECR_REPOSITORY: scalingo
  IMAGE_TAG: ${{ github.sha }}
  RELEASE_NAME: scalingo-chart
  REGION: us-east-1
  CHART_NAME: scalingo-chart

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Log in to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG ${{ secrets.ECR_REPO_URI }}:latest
          docker push ${{ secrets.ECR_REPO_URI }}:latest

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --name newcluster1 --region $REGION

      - name: Deploy to EKS main namespace
        run: |
          helm upgrade --install --namespace main scalingo-chart ./scalingo-chart --values ./scalingo-chart/values.yaml