
name: Deploy to EKS scalingo app

on:
  push:
    branches:
      - 'main'
      - 'test'

env:
  ECR_REPOSITORY: scalingo
  IMAGE_TAG: ${{ github.sha }}
  RELEASE_NAME: scalingo-chart
  REGION: ap-southeast-2
  CHART_NAME: scalingo-chart

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
      
      - name: Log in to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG ${{ secrets.ECR_REPO_URI }}:latest
          docker push ${{ secrets.ECR_REPO_URI }}:latest

      - name: Install Kubectl
        run: |
          curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.22.17/2023-01-30/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
          echo 'export PATH=$PATH:$HOME/bin' >> ~/.bashrc
          kubectl version --short --client

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --name EKS-Cluster --region $REGION

      - name: Deploy to EKS main namespace
        run: |
          helm upgrade --install --namespace main $CHART_NAME ./$CHART_NAME --values ./$CHART_NAME/values.yaml
          sleep 10s
          kubectl get svc --namespace main