apiVersion: apps/v1
kind: Deployment
metadata:
  name: scalingo-deployment
spec:
  selector:
    matchLabels:
      app: scalingo
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: scalingo
    spec:
      containers:
      - name: scalingo-container
        image: {{ .Values.accountID }}.dkr.ecr.ap-southeast-2.amazonaws.com/scalingo_ecr:{{ .Values.image.tag }}
        imagePullPolicy: Always