apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: scalingo-ingress
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
spec:
  rules:
  - http:
      paths:
      - path: /*
        backend:
          serviceName: scalingo-service
          servicePort: 3000